#mainp {
    width: 700px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(42, 68, 20);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

#mainp img {
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

#containerp {
    display: flex;
    justify-content: space-around;
}